<% var date = new Date(); -%>
<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="utf-8">
	<!-- ©筑波大学付属駒場中・高等学校文化祭実行委員会 2017 -->
	<!-- Global Site Tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-107602810-1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());
		gtag('config', 'UA-107602810-1');
	</script>
	<title><% if(pageName!=""){ %><%= pageName %>｜<%}%>第66回筑駒文化祭"Dice!"公式サイト</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	<% if(pageName=="そもそも文実って？"){ -%>
	<meta name="description" content="【連載】『文実の仕事』の初回です。文化祭実行委員会っていったい何なの？という疑問にお答えします。">
	<meta name="twitter:description" content="【連載】『文実の仕事』の初回です。文化祭実行委員会っていったい何なの？という疑問にお答えします。">
	<% } else if(pageName=="総務部門の仕事"){ -%>
	<meta name="description" content="【連載】『文実の仕事』第2回。今回は、各団体の文化祭準備をサポートする縁の下の力持ち、「総務部門」の紹介です。">
	<meta name="twitter:description" content="【連載】『文実の仕事』第2回。今回は、各団体の文化祭準備をサポートする縁の下の力持ち、「総務部門」の紹介です。">
	<% } else if(pageName=="広報部門の仕事"){ -%>
	<meta name="description" content="【連載】『文実の仕事』第3回。今回は、様々な宣伝物・広報物のデザイン・作成をしている広報部門を紹介します。">
	<meta name="twitter:description" content="【連載】『文実の仕事』第3回。今回は、様々な宣伝物・広報物のデザイン・作成をしている広報部門を紹介します。">
	<% } else if(pageName=="装飾部門の仕事"){ -%>
	<meta name="description" content="【連載】『文実の仕事』第4回。今回は、校内に様々な装飾を施し、文化祭を視覚的に盛り上げる装飾部門の紹介です。">
	<meta name="twitter:description" content="【連載】『文実の仕事』第4回。今回は、校内に様々な装飾を施し、文化祭を視覚的に盛り上げる装飾部門の紹介です。">
	<% } else if(pageName=="SCC部門の仕事"){ -%>
	<meta name="description" content="【連載】『文実の仕事』第5回。今回は、綺麗で快適な文化祭を維持してくれる、SCC部門のご紹介です。">
	<meta name="twitter:description" content="【連載】『文実の仕事』第5回。今回は、綺麗で快適な文化祭を維持してくれる、SCC部門のご紹介です。">
	<% } else if(pageName=="審査部門の仕事"){ -%>
	<meta name="description" content="【連載】『文実の仕事』第6回。今回は、文化祭に参加する団体が目指す「賞」に関わる裏方の部門、審査部門のご紹介です。">
	<meta name="twitter:description" content="【連載】『文実の仕事』第6回。今回は、文化祭に参加する団体が目指す「賞」に関わる裏方の部門、審査部門のご紹介です。">
	<% } else if(pageName=="器材部門の仕事"){ -%>
	<meta name="description" content="【連載】『文実の仕事』第7回。今回は、机・椅子からのこぎり・メジャーまで、校内のあらゆる器材を管理する、器材部門のご紹介です。">
	<meta name="twitter:description" content="【連載】『文実の仕事』第7回。今回は、机・椅子からのこぎり・メジャーまで、校内のあらゆる器材を管理する、器材部門のご紹介です。">
	<% } else if(pageName=="電力部門の仕事"){ -%>
	<meta name="description" content="【連載】『文実の仕事』第8回。今回は、文化祭当日の電力使用を管理しタイムテーブルなどの作成を担当する、電力部門のご紹介です。">
	<meta name="twitter:description" content="【連載】『文実の仕事』第8回。今回は、文化祭当日の電力使用を管理しタイムテーブルなどの作成を担当する、電力部門のご紹介です。">
	<% } else if(pageName=="電波部門の仕事"){ -%>
	<meta name="description" content="【連載】『文実の仕事』第9回。今回は、校内の隠れた電波事情を管理して干渉を防ぐ、電波部門のご紹介です。">
	<meta name="twitter:description" content="【連載】『文実の仕事』第9回。今回は、校内の隠れた電波事情を管理して干渉を防ぐ、電波部門のご紹介です。">
	<% } else if(pageName=="印刷部門の仕事"){ -%>
	<meta name="description" content="【連載】『文実の仕事』第10回。今回は、文化祭で配布される部誌などを印刷している縁の下の力持ち、印刷部門のご紹介です。">
	<meta name="twitter:description" content="【連載】『文実の仕事』第10回。今回は、文化祭で配布される部誌などを印刷している縁の下の力持ち、印刷部門のご紹介です。">
	<% } -%>
	<meta property="og:title" content='第66回筑駒文化祭"Dice!"公式サイト'>
	<% if(pageName=="そもそも文実って？"){ -%>
	<meta property="og:image" content="http://tsukukoma.bunkasai.info/assets/img/blog-img/20171011-1.jpg?timestamp=<%= date.getTime() %>">
	<meta property="twitter:image" content="http://tsukukoma.bunkasai.info/assets/img/blog-img/20171011-1.jpg?timestamp=<%= date.getTime() %>">
	<% } else if(pageName=="広報部門の仕事"){ -%>
	<meta property="og:image" content="http://tsukukoma.bunkasai.info/assets/img/blog-img/20171015-3.png?timestamp=<%= date.getTime() %>">
	<meta property="twitter:image" content="http://tsukukoma.bunkasai.info/assets/img/blog-img/20171015-3.png?timestamp=<%= date.getTime() %>">	
	<% } else if(pageName=="装飾部門の仕事"){ -%>
	<meta property="og:image" content="http://tsukukoma.bunkasai.info/assets/img/blog-img/20171018-1-4.jpg?timestamp=<%= date.getTime() %>">
	<meta property="twitter:image" content="http://tsukukoma.bunkasai.info/assets/img/blog-img/20171018-1-4.jpg?timestamp=<%= date.getTime() %>">
	<% } else if(pageName=="SCC部門の仕事"){ -%>
	<meta property="og:image" content="http://tsukukoma.bunkasai.info/assets/img/blog-img/20171018-2-1.jpg?timestamp=<%= date.getTime() %>">
	<meta property="twitter:image" content="http://tsukukoma.bunkasai.info/assets/img/blog-img/20171018-2-1.jpg?timestamp=<%= date.getTime() %>">
	<% } else if(pageName=="審査部門の仕事"){ -%>
	<meta property="og:image" content="http://tsukukoma.bunkasai.info/assets/img/blog-img/20171019-1.jpg?timestamp=<%= date.getTime() %>">
	<meta property="twitter:image" content="http://tsukukoma.bunkasai.info/assets/img/blog-img/20171019-1.jpg?timestamp=<%= date.getTime() %>">
	<% } else if(pageName=="器材部門の仕事"){ -%>
	<meta property="og:image" content="http://tsukukoma.bunkasai.info/assets/img/blog-img/20171020-1.jpg?timestamp=<%= date.getTime() %>">
	<meta property="twitter:image" content="http://tsukukoma.bunkasai.info/assets/img/blog-img/20171020-1.jpg?timestamp=<%= date.getTime() %>">
	<% } else if(pageName=="電力部門の仕事"){ -%>
	<meta property="og:image" content="http://tsukukoma.bunkasai.info/assets/img/blog-img/20171021-1.jpg?timestamp=<%= date.getTime() %>">
	<meta property="twitter:image" content="http://tsukukoma.bunkasai.info/assets/img/blog-img/20171021-1.jpg?timestamp=<%= date.getTime() %>">
	<% } else if(pageName=="印刷部門の仕事"){ -%>
	<meta property="og:image" content="http://tsukukoma.bunkasai.info/assets/img/blog-img/20171023-2-1.jpg?timestamp=<%= date.getTime() %>">
	<meta property="twitter:image" content="http://tsukukoma.bunkasai.info/assets/img/blog-img/20171023-2-1.jpg?timestamp=<%= date.getTime() %>">
	<% }else{ -%>
	<meta property="og:image" content="http://tsukukoma.bunkasai.info/assets/img/ogp.png?timestamp=<%= date.getTime() %>">
	<meta name="twitter:image" content="http://tsukukoma.bunkasai.info/assets/img/ogp.png?timestamp=<%= date.getTime() %>">
	<% } -%>
	<meta property="og:url" content="http://tsukukoma.bunkasai.info/<%= path %>">
	<meta property="fb:app_id" content="210053346147406">
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:site" content="@tsukukomafesta">
	<meta name="twitter:title" content='<% if(pageName!=""){ %><%= pageName %>｜<%}%>第66回筑駒文化祭"Dice!"公式サイト'>
	<meta name="format-detection" content="telephone=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<link rel="icon" href="../assets/img/favicon.ico?timestamp=<%= date.getTime() %>" type="image/vnd.microsoft.icon">
	<link rel="shortcut icon" href="../assets/img/favicon.ico?timestamp=<%= date.getTime() %>" type="image/vnd.microsoft.icon">
	<link rel="apple-touch-icon" sizes="152x152" href="../assets/img/apple-touch-icon.png?timestamp=<%= date.getTime() %>">
	<link rel="stylesheet" href="../assets/css/stylesheet.css?timestamp=<%= date.getTime() %>">
</head>
<body>
    <div id="container" class="top-container" ontouchstart="">
