<% var pageName = "【連載】『文実の仕事』まとめ",date= new Date(); %>
<%- include("../../components/_blog-hub-header.ejs",{pageName:pageName,path:"../blog-hub/bunjitsu-work"}) %>
<%- include("../../components/_blog-hub-menu.ejs",{pageId:"blog"}) %>
<main id="main">
	<h1 class="parlevel1-headline"><span><%= pageName %></span></h1>
	<div class="parlevel1-content">
		<div class="parlevel1-text">【連載】『文実の仕事』の掲載記事をまとめました。全12回です。</div>
		<h2 class="parlevel2-headline">記事一覧</h2>
		<div class="parlevel2-content">
			<ul class="blog-list">
				<li class="blog-list__item">
					<a href="../blog_20171011"></a>
					<p class="blog-list__item-date">2017/10/11</p>
					<div class="blog-list__item-tag">【連載】『文実の仕事』</div>
					<h3 class="blog-list__item-title">第1回：そもそも文実って？</h3>
					<div class="blog-list__item-img"><img src="../../../assets/img/blog-img/20171011-icon.jpg?timestamp=<%= date.getTime() %>" alt='20171011 画像'></div>
				</li>
				<li class="blog-list__item">
					<a href="../blog_20171014"></a>
					<p class="blog-list__item-date">2017/10/14</p>
					<div class="blog-list__item-tag">【連載】『文実の仕事』</div>
					<h3 class="blog-list__item-title">第2回：総務部門の仕事</h3>
					<div class="blog-list__item-img"><img src="../../../assets/img/header-logo-smph.png?timestamp=<%= date.getTime() %>" alt='第66回筑駒文化祭"Dice!"ロゴ(小)'></div>
				</li>
				<li class="blog-list__item">
					<a href="../blog_20171015"></a>
					<p class="blog-list__item-date">2017/10/15</p>
					<div class="blog-list__item-tag">【連載】『文実の仕事』</div>
					<h3 class="blog-list__item-title">第3回：広報部門の仕事</h3>
					<div class="blog-list__item-img"><img src="../../../assets/img/blog-img/20171015-icon.png?timestamp=<%= date.getTime() %>" alt='20171015 画像'></div>
				</li>
				<li class="blog-list__item">
					<a href="../blog_20171018-1"></a>
					<p class="blog-list__item-date">2017/10/18</p>
					<div class="blog-list__item-tag">【連載】『文実の仕事』</div>
					<h3 class="blog-list__item-title">第4回：装飾部門の仕事</h3>
					<div class="blog-list__item-img"><img src="../../../assets/img/blog-img/20171018-1-icon.jpg?timestamp=<%= date.getTime() %>" alt='20171018-1 画像'></div>
				</li>
				<li class="blog-list__item">
					<a href="../blog_20171018-2"></a>
					<p class="blog-list__item-date">2017/10/18</p>
					<div class="blog-list__item-tag">【連載】『文実の仕事』</div>
					<h3 class="blog-list__item-title">第5回：SCC部門の仕事</h3>
					<div class="blog-list__item-img"><img src="../../../assets/img/blog-img/20171018-2-icon.jpg?timestamp=<%= date.getTime() %>" alt='20171018-2 画像'></div>
				</li>
				<li class="blog-list__item">
					<a href="../blog_20171019"></a>
					<p class="blog-list__item-date">2017/10/19</p>
					<div class="blog-list__item-tag">【連載】『文実の仕事』</div>
					<h3 class="blog-list__item-title">第6回：審査部門の仕事</h3>
					<div class="blog-list__item-img"><img src="../../../assets/img/blog-img/20171019-icon.jpg?timestamp=<%= date.getTime() %>" alt='20171019 画像'></div>
				</li>
				<li class="blog-list__item">
					<a href="../blog_20171020"></a>
					<p class="blog-list__item-date">2017/10/20</p>
					<div class="blog-list__item-tag">【連載】『文実の仕事』</div>
					<h3 class="blog-list__item-title">第7回：器材部門の仕事</h3>
					<div class="blog-list__item-img"><img src="../../../assets/img/blog-img/20171020-icon.jpg?timestamp=<%= date.getTime() %>" alt='20171020 画像'></div>
				</li>
				<li class="blog-list__item">
					<a href="../blog_20171021"></a>
					<p class="blog-list__item-date">2017/10/21</p>
					<div class="blog-list__item-tag">【連載】『文実の仕事』</div>
					<h3 class="blog-list__item-title">第8回：電力部門の仕事</h3>
					<div class="blog-list__item-img"><img src="../../../assets/img/blog-img/20171021-icon.jpg?timestamp=<%= date.getTime() %>" alt='20171021 画像'></div>
				</li>
				<li class="blog-list__item">
					<a href="../blog_20171023-1"></a>
					<p class="blog-list__item-date">2017/10/23</p>
					<div class="blog-list__item-tag">【連載】『文実の仕事』</div>
					<h3 class="blog-list__item-title">第9回：電波部門の仕事</h3>
					<div class="blog-list__item-img"><img src="../../../assets/img/header-logo-smph.png?timestamp=<%= date.getTime() %>" alt='第66回筑駒文化祭"Dice!"ロゴ(小)'></div>
				</li>
				<li class="blog-list__item">
					<a href="../blog_20171023-2"></a>
					<p class="blog-list__item-date">2017/10/23</p>
					<div class="blog-list__item-tag">【連載】『文実の仕事』</div>
					<h3 class="blog-list__item-title">第10回：印刷部門の仕事</h3>
					<div class="blog-list__item-img"><img src="../../../assets/img/blog-img/20171023-2-icon.jpg?timestamp=<%= date.getTime() %>" alt='20171023-2 画像'></div>
				</li>
				<li class="blog-list__item">
					<a href="../blog_20171024-2"></a>
					<p class="blog-list__item-date">2017/10/24</p>
					<div class="blog-list__item-tag">【連載】『文実の仕事』</div>
					<h3 class="blog-list__item-title">第11回：財務部門の仕事</h3>
					<div class="blog-list__item-img"><img src="../../../assets/img/blog-img/20171024-2-icon.png?timestamp=<%= date.getTime() %>" alt='20171024 画像'></div>
				</li>
				<li class="blog-list__item">
					<a href="../blog_20171025-1"></a>
					<p class="blog-list__item-date">2017/10/25</p>
					<div class="blog-list__item-tag">【連載】『文実の仕事』</div>
					<h3 class="blog-list__item-title">第12回：庶務部門の仕事</h3>
					<div class="blog-list__item-img"><img src="../../../assets/img/blog-img/20171025-1-icon.jpg?timestamp=<%= date.getTime() %>" alt='20171025 画像'></div>
				</li>
			</ul>
		</div>
	</div>
</main>
<%- include("../../components/_blog-hub-footer.ejs") %>
