<% var pageName = "アクセス",path="access" -%>
<%- include("components/_header.ejs",{pageName:pageName,path:path}) -%>
<%- include("components/_menu.ejs",{pageId:"access"}) -%>
		<main id="main" class="main-access">
			<h1 class="parlevel1-headline"><span><%= pageName %></span></h1>
			<div class="parlevel1-content">
				<h2 class="parlevel2-headline">電車をご利用の場合</h3>
				<div class="parlevel2-content">
					<h3 class="parlevel3-headline">京王井の頭線</h3>
					<div class="parlevel3-content">
						<p class="parlevel3-text">駒場東大前駅（IN03）西口より徒歩約7分</p>
					</div>
					<h3 class="parlevel3-headline">東急田園都市線</h3>
					<div class="parlevel3-content">
						<p class="parlevel3-text">池尻大橋駅（DT02）北口より徒歩約15分</p>
					</div>
				</div>
				<h2 class="parlevel2-headline">バスをご利用の場合</h3>
				<div class="parlevel2-content">
					<div class="parlevel3-content">
						<p class="parlevel3-text">「駒場」バス停（東急バス渋51/渋52系統・小田急バス渋54系統）より徒歩約1分</p>
					</div>
				</div>
				<h2 class="parlevel2-headline access__parlevel2-headline">周辺の地図</h3>
				<% var date = new Date(); -%><div class="access-map"><img src="assets/img/map.svg?timestamp=<%= date.getTime() %>" alt="筑駒文化祭 アクセス"></div>
			</div>
		</main>
<%- include("components/_footer.ejs") -%>
