<% var pageName = "ブログ",path="blog",date = new Date(); -%>
<%- include("components/_header.ejs",{pageName:pageName,path:path}) -%>
<%- include("components/_menu.ejs",{pageId:"blog"}) -%>
		<main id="main" class="main-blogs">
			<h1 class="parlevel1-headline"><span><%= pageName %></span></h1>
			<div class="parlevel1-content">
				<ul class="blog-list">
					<li class="blog-list__item">
						<a href="blogs/blog_20171003"></a>
						<p class="blog-list__item-date">2017/10/03</p>
						<h3 class="blog-list__item-title">ブログを開設しました！</h3>
						<div class="blog-list__item-img"><img src="assets/img/header-logo-smph.png?timestamp=<%= date.getTime() %>" alt='第66回筑駒文化祭"Dice!"ロゴ(小)'></div>
					</li>
					<li class="blog-list__item">
						<a href="blogs/blog_20171011"></a>
						<p class="blog-list__item-date">2017/10/11</p>
						<div class="blog-list__item-tag">【連載】『文実の仕事』</div>
						<h3 class="blog-list__item-title">第1回：そもそも文実って？</h3>
						<div class="blog-list__item-img"><img src="assets/img/blog-img/20171011-icon.jpg?timestamp=<%= date.getTime() %>" alt='20171011 画像'></div>
					</li>
				</ul>
			</div>
		</main>
<%- include("components/_footer.ejs") -%>
