<% var pageName = "ブログ",path="blog",date = new Date(); -%>
<%- include("components/_header.ejs",{pageName:pageName,path:path}) -%>
<%- include("components/_menu.ejs",{pageId:"blog"}) -%>
		<main id="main" class="main-blogs">
			<h1 class="parlevel1-headline"><span><%= pageName %></span></h1>
			<div class="parlevel1-content">
				<h2 class="parlevel2-headline">人気の記事</h2>
				<ul class="blog-list">
					<li class="blog-list__item">
						<a href="blogs/blog_20171011"></a>
						<p class="blog-list__item-date">2017/10/11</p>
						<div class="blog-list__item-tag">【連載】『文実の仕事』</div>
						<h3 class="blog-list__item-title">第1回：そもそも文実って？</h3>
						<div class="blog-list__item-img"><img src="assets/img/blog-img/20171011-icon.jpg?timestamp=<%= date.getTime() %>" alt='20171011 画像'></div>
					</li>
				</ul>
				<h2 class="parlevel2-headline">記事一覧</h2>
				<ul class="blog-list">
					<li class="blog-list__item">
						<a href="blogs/blog_20171028"></a>
						<p class="blog-list__item-date">2017/10/28</p>
						<div class="blog-list__item-tag">【連載】『文化祭のこだわり』</div>
						<h3 class="blog-list__item-title">第4回：文化祭サイトのおはなし</h3>
						<div class="blog-list__item-img"><img src="assets/img/blog-img/20171028-icon.jpg?timestamp=<%= date.getTime() %>" alt='20171023-2 画像'></div>
					</li>
					<li class="blog-list__item">
						<a href="blogs/blog_20171027-2"></a>
						<p class="blog-list__item-date">2017/10/27</p>
						<div class="blog-list__item-tag">【連載】『文化祭のこだわり』</div>
						<h3 class="blog-list__item-title">第3回：校内サインのおはなし</h3>
						<div class="blog-list__item-img"><img src="assets/img/blog-img/20171027-2-icon.JPG?timestamp=<%= date.getTime() %>" alt='20171023-2 画像'></div>
					</li>
					<li class="blog-list__item">
						<a href="blogs/blog_20171027-1"></a>
						<p class="blog-list__item-date">2017/10/27</p>
						<div class="blog-list__item-tag">【連載】『文化祭のこだわり』</div>
						<h3 class="blog-list__item-title">第2回：ごみ回収のおはなし</h3>
						<div class="blog-list__item-img"><img src="assets/img/blog-img/20171027-1-icon.jpg?timestamp=<%= date.getTime() %>" alt='20171023-2 画像'></div>
					</li>
					<li class="blog-list__item">
						<a href="blogs/blog_20171026-2"></a>
						<p class="blog-list__item-date">2017/10/26</p>
						<div class="blog-list__item-tag">【連載】『文化祭のこだわり』</div>
						<h3 class="blog-list__item-title">第1回：メインビジュアルのおはなし</h3>
						<div class="blog-list__item-img"><img src="assets/img/blog-img/20171026-2-icon.png?timestamp=<%= date.getTime() %>" alt='20171023-2 画像'></div>
					</li>
					<li class="blog-list__item">
						<a href="blogs/blog_20171026-1"></a>
						<p class="blog-list__item-date">2017/10/26</p>
						<div class="blog-list__item-tag">【連載】『文実の仕事』</div>
						<h3 class="blog-list__item-title">第12回：庶務部門の仕事</h3>
						<div class="blog-list__item-img"><img src="assets/img/blog-img/20171026-1-icon.jpg?timestamp=<%= date.getTime() %>" alt='20171023-2 画像'></div>
					</li>
					<li class="blog-list__item">
						<a href="blogs/blog_20171024-2"></a>
						<p class="blog-list__item-date">2017/10/24</p>
						<div class="blog-list__item-tag">【連載】『文実の仕事』</div>
						<h3 class="blog-list__item-title">第11回：財務部門の仕事</h3>
						<div class="blog-list__item-img"><img src="assets/img/blog-img/20171024-2-icon.png?timestamp=<%= date.getTime() %>" alt='20171023-2 画像'></div>
					</li>
					<li class="blog-list__item">
						<a href="blogs/blog_20171024-1"></a>
						<p class="blog-list__item-date">2017/10/24</p>
						<h3 class="blog-list__item-title">特別残留期間が始まりました！</h3>
						<div class="blog-list__item-img"><img src="assets/img/blog-img/20171024-1-icon.jpg?timestamp=<%= date.getTime() %>" alt='20171023-2 画像'></div>
					</li>
					<li class="blog-list__item">
						<a href="blogs/blog_20171023-2"></a>
						<p class="blog-list__item-date">2017/10/23</p>
						<div class="blog-list__item-tag">【連載】『文実の仕事』</div>
						<h3 class="blog-list__item-title">第10回：印刷部門の仕事</h3>
						<div class="blog-list__item-img"><img src="assets/img/blog-img/20171023-2-icon.jpg?timestamp=<%= date.getTime() %>" alt='20171023-2 画像'></div>
					</li>
					<li class="blog-list__item">
						<a href="blogs/blog_20171023-1"></a>
						<p class="blog-list__item-date">2017/10/23</p>
						<div class="blog-list__item-tag">【連載】『文実の仕事』</div>
						<h3 class="blog-list__item-title">第9回：電波部門の仕事</h3>
						<div class="blog-list__item-img"><img src="assets/img/header-logo-smph.png?timestamp=<%= date.getTime() %>" alt='第66回筑駒文化祭"Dice!"ロゴ(小)'></div>
					</li>
					<li class="blog-list__item">
						<a href="blogs/blog_20171021"></a>
						<p class="blog-list__item-date">2017/10/21</p>
						<div class="blog-list__item-tag">【連載】『文実の仕事』</div>
						<h3 class="blog-list__item-title">第8回：電力部門の仕事</h3>
						<div class="blog-list__item-img"><img src="assets/img/blog-img/20171021-icon.jpg?timestamp=<%= date.getTime() %>" alt='20171021 画像'></div>
					</li>
					<li class="blog-list__item">
						<a href="blogs/blog_20171020"></a>
						<p class="blog-list__item-date">2017/10/20</p>
						<div class="blog-list__item-tag">【連載】『文実の仕事』</div>
						<h3 class="blog-list__item-title">第7回：器材部門の仕事</h3>
						<div class="blog-list__item-img"><img src="assets/img/blog-img/20171020-icon.jpg?timestamp=<%= date.getTime() %>" alt='20171020 画像'></div>
					</li>
					<li class="blog-list__item">
						<a href="blogs/blog_20171019"></a>
						<p class="blog-list__item-date">2017/10/19</p>
						<div class="blog-list__item-tag">【連載】『文実の仕事』</div>
						<h3 class="blog-list__item-title">第6回：審査部門の仕事</h3>
						<div class="blog-list__item-img"><img src="assets/img/blog-img/20171019-icon.jpg?timestamp=<%= date.getTime() %>" alt='20171019 画像'></div>
					</li>
					<li class="blog-list__item">
						<a href="blogs/blog_20171018-2"></a>
						<p class="blog-list__item-date">2017/10/18</p>
						<div class="blog-list__item-tag">【連載】『文実の仕事』</div>
						<h3 class="blog-list__item-title">第5回：SCC部門の仕事</h3>
						<div class="blog-list__item-img"><img src="assets/img/blog-img/20171018-2-icon.jpg?timestamp=<%= date.getTime() %>" alt='20171018-2 画像'></div>
					</li>
					<li class="blog-list__item">
						<a href="blogs/blog_20171018-1"></a>
						<p class="blog-list__item-date">2017/10/18</p>
						<div class="blog-list__item-tag">【連載】『文実の仕事』</div>
						<h3 class="blog-list__item-title">第4回：装飾部門の仕事</h3>
						<div class="blog-list__item-img"><img src="assets/img/blog-img/20171018-1-icon.jpg?timestamp=<%= date.getTime() %>" alt='20171018-1 画像'></div>
					</li>
					<li class="blog-list__item">
						<a href="blogs/blog_20171015"></a>
						<p class="blog-list__item-date">2017/10/15</p>
						<div class="blog-list__item-tag">【連載】『文実の仕事』</div>
						<h3 class="blog-list__item-title">第3回：広報部門の仕事</h3>
						<div class="blog-list__item-img"><img src="assets/img/blog-img/20171015-icon.png?timestamp=<%= date.getTime() %>" alt='20171015 画像'></div>
					</li>
					<li class="blog-list__item">
						<a href="blogs/blog_20171014"></a>
						<p class="blog-list__item-date">2017/10/14</p>
						<div class="blog-list__item-tag">【連載】『文実の仕事』</div>
						<h3 class="blog-list__item-title">第2回：総務部門の仕事</h3>
						<div class="blog-list__item-img"><img src="assets/img/header-logo-smph.png?timestamp=<%= date.getTime() %>" alt='第66回筑駒文化祭"Dice!"ロゴ(小)'></div>
					</li>
					<li class="blog-list__item">
						<a href="blogs/blog_20171011"></a>
						<p class="blog-list__item-date">2017/10/11</p>
						<div class="blog-list__item-tag">【連載】『文実の仕事』</div>
						<h3 class="blog-list__item-title">第1回：そもそも文実って？</h3>
						<div class="blog-list__item-img"><img src="assets/img/blog-img/20171011-icon.jpg?timestamp=<%= date.getTime() %>" alt='20171011 画像'></div>
					</li>
					<li class="blog-list__item">
						<a href="blogs/blog_20171003"></a>
						<p class="blog-list__item-date">2017/10/03</p>
						<h3 class="blog-list__item-title">ブログを開設しました！</h3>
						<div class="blog-list__item-img"><img src="assets/img/header-logo-smph.png?timestamp=<%= date.getTime() %>" alt='第66回筑駒文化祭"Dice!"ロゴ(小)'></div>
					</li>
				</ul>
			</div>
		</main>
<%- include("components/_footer.ejs") -%>
