<% var pageName = "団体紹介" %>
<%- include("components/_header.ejs",{pageName:pageName,path:"groups"}) %>
<%- include("components/_menu.ejs",{pageId:"groups"}) %>
<main id="main" class="main-groups">
	<h1 class="parlevel1-headline"><span><%= pageName %></span></h1>
	<div class="parlevel1-content">
		<div class="deco-search-box">
			<input type="text" class="deco-search-box__input" placeholder="団体名で検索">
			<div class="deco-search-result">
				<ul class="deco-search-result__list">
					<%
						var decoList = jsonData[0].decoDeta;
						decoList.forEach(function(deco,num){
					%>
					<li class="deco-list__item" data-deco-num-search="<%= num %>">
						<div class="deco-name"><%- deco.decoName %></div>
						<div class="deco-title"><%- deco.decoTitle %></div>
						<span class="search-word" style="display:none;">
							<% for(var i=0; i < deco.searchWord.length; i++){ %><%= deco.searchWord[i] %>&nbsp;<% } %>
						</span>
					</li>
					<% }); %>
				</ul>
				<p class='serach-word-too-short'>検索ワードが短すぎます。</p>
				<p class='not-found'>検索ワードに当てはまる団体はありませんでした。</p>
			</div>
		</div>
		<div class="deco-list-wrap">
			<%
				var decoList = jsonData[0].decoDeta;
				decoList.forEach(function(deco,num){
			%>
			<% if(num == 0){%>
				<div class="deco-list">
					<div class="deco-list-desc-show"></div>
					<div class="content-tab-trigger is-open" data-tab-trigger-num="0">
						<h2 class="parlevel2-headline-single groups-headline">特別班</h2>
						<div class="groups-headline-trigger" data-deco-list-trigger-num="0"><i class="fa fa-chevron-down" aria-hidden="true"></i></div>
					</div>
					<ul class="content-tab content-tab-open" data-tab-num="0" data-deco-list-num="0"><%}%>
			<% if(num == 7){%>
					</ul>
				</div>
				<div class="deco-list">
					<div class="deco-list-desc-show"></div>
					<div class="content-tab-trigger" data-tab-trigger-num="1">
						<h2 class="parlevel2-headline-single groups-headline">展示</h2>
						<div class="groups-headline-trigger" data-deco-list-trigger-num="1"><i class="fa fa-chevron-down" aria-hidden="true"></i></div>
					</div>
					<ul class="content-tab" data-tab-num="1" data-deco-list-num="1"><%}%>
			<% if(num == 27){%>
					</ul>
				</div>
				<div class="deco-list">
					<div class="deco-list-desc-show"></div>
					<div class="content-tab-trigger" data-tab-trigger-num="2">
						<h2 class="parlevel2-headline-single groups-headline">演劇</h2>
						<div class="groups-headline-trigger" data-deco-list-trigger-num="2"><i class="fa fa-chevron-down" aria-hidden="true"></i></div>
					</div>
					<ul class="content-tab" data-tab-num="2" data-deco-list-num="2"><%}%>
			<% if(num == 38){%>
					</ul>
				</div>
				<div class="deco-list">
					<div class="deco-list-desc-show"></div>
					<div class="content-tab-trigger" data-tab-trigger-num="3">
						<h2 class="parlevel2-headline-single groups-headline">パフォーマンス・その他</h2>
						<div class="groups-headline-trigger" data-deco-list-trigger-num="3"><i class="fa fa-chevron-down" aria-hidden="true"></i></div>
					</div>
					<ul class="content-tab" data-tab-num="3" data-deco-list-num="3">
			<%}%>
			<li class="deco-list__item" data-deco-num="<%= deco.id %>">
				<img class="deco-icon" src="assets/img/loading.svg" data-echo="assets/img/deco-icons/deco-icon_<%= deco.id %>.png">
				<div class="deco-name"><%- deco.decoName %></div>
				<div class="deco-title"><%- deco.decoTitle %></div>
				<div class="deco-desc"><%- deco.decoDesc %></div>
				<% if(deco.id == (14||22||29||31)){ -%>
				<div class="deco-link"><a href="<%- deco.linkHref %>"><%- deco.linkTxt %></a></div>
				<% } %>
			</li>
			<% }); %>
			</ul>
		</div>
	</div>
</main>
<div class="deco-desc-modal-wrap">
	<div class="deco-desc-modal deco-desc-modal-prev">
		<div class="deco-desc-modal__down-arrow"><span>↓</span></div>
		<div class="deco-desc-modal__item"></div>
		<div class="deco-desc-modal__close">閉じる</div>
	</div>
	<div class="deco-desc-modal deco-desc-modal-current">
		<div class="deco-desc-modal__down-arrow"><span>↓</span></div>
		<div class="deco-desc-modal__item"></div>
		<div class="deco-desc-modal__close">閉じる</div>
	</div>
	<div class="deco-desc-modal deco-desc-modal-next">
		<div class="deco-desc-modal__down-arrow"><span>↓</span></div>
		<div class="deco-desc-modal__item"></div>
		<div class="deco-desc-modal__close">閉じる</div>
	</div>
</div>
<%- include("components/_footer.ejs",{pageName:pageName}) %>
